* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Futura;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  overflow: hidden;
}

h1 span {
  display: inline-block;
}
